<div class="container">
  <app-header (open)="sideNav.toggle()"></app-header>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sideNav class="sidenav-menu" mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/myqueue">Queue&nbsp;&nbsp;<small matBadge="8" matBadgeSize="medium" matBadgePosition="after" matBadgeOverlap="false" matBadgeColor="accent" ></small></a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/role/create">Create Role</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/role/modify">Modify Role</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/new-assignment">Assign Access</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/dummy">Modify Access</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="#">Certificaion</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>