.header {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.mat-menu-item {
    line-height: 30px;
    height: 30px;
}

.example-header-image {
    background-image: url("/assets/img/9.jpg");
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
  }
