<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="onOpen()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Identity Management Solution</h1>
  <span style="flex: auto"></span>
  <span *ngIf="user" style="font-size: 15px; margin-right: 1em">Hi {{ user.firstName }}!</span>
  <div class="example-header-image" [matMenuTriggerFor]=menu></div>
  <mat-menu #menu="matMenu">
    <a href="#" mat-menu-item routerLink="/desktop">Desktop</a>    
    <a href="#" mat-menu-item routerLink="/desktop">Admin</a>
    <a href="#" mat-menu-item (click)="logout()">Log out</a>
  </mat-menu>
</mat-toolbar>